.info-container {
    background: #191919;
    padding: 4rem;
    font: 'Open Sans', Arial, Helvetica, sans-serif;
}
.icons-details {
    font-size: 3rem;
    color: #fff;
}
.info-wrapper h2 {
    color:#fff;
    float: left;
}
.info-wrapper span {
    font-size: 13px;
    color: #c29032;
    float: left;
    font-family: 'Fjalla One';
    text-transform: uppercase;
    line-height: 1.4;
}
.info-item {
    margin: 20px;
}
@media (min-width: 600px) {
   .info-wrapper h2 {
        padding: 0 180px 0 0px;
    }
}
@media (max-width: 599px) {
   .info-wrapper h2 {
        padding: 0 90px 0 35px;
    }
    .info-wrapper span {
        padding-left: 35px;
    }
}
