.our-team-container {
    background: #f3f3f3;
}

.our-team {
    margin: 2rem 0;
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    background: #fff;
}

.our-team .pic{
    background: #fff;
    padding: 10px;
    margin-bottom: 25px;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease 0s;
}

.our-team:hover .pic{
    background: #c29032;
    border-radius: 50%;
}

.pic img{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.our-team .title{
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    display: block;
    font-size: 20px;
    margin: 0 0 7px 0;
}

.our-team .post{
    color: #c29032;
    text-transform: capitalize;
    display: block;
    font-size: 15px;
    margin-bottom: 15px;
}
