.practice-areas-container {
    background: #262626;
    color: #fff;
}
.description h1 {
    margin-bottom: 35px;
}
.description h6 {
    color: #c29032;
}
@keyframes square-in-center {
    from {
      clip-path: inset(100% 100% 100% 100%);
    }
    to {
      clip-path: inset(0 0 0 0);
    }
}
.card {
    width: 15rem;
    --bs-card-bg: #262626 !important;
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) square-in-center both;
    color: #fff;
    border: rgba(25, 24, 24, 0.125) 8px ridge !important;
}
.services-icons {
    font-size: 10rem !important;
    margin-top: 12px;
}
.services-icons:hover {
    color: #c29032;
}
.services a {
    text-decoration: none;
    color: #fff;
    margin: 12px;
}
.card:hover {
    border: 1px solid #c29032 !important;
}
.card-title {
    color: #c29032;
} 
.card-title:hover {
    color: #fff;
} 

.zoom {
    transition: transform .2s; 
}
.zoom:hover {
    transform: scale(1.1); 
}

@media (min-width: 600px) {
    .description h1 span {
        padding-bottom: 15px;
        border-bottom: #c29032 4px solid;
    }
 }
 @media (max-width: 599px) {
    .description h1 {
        padding-bottom: 30px;
        border-bottom: #c29032 4px solid;
    }
 }
 